* {
    overflow: hidden;
    list-style: none;
    text-decoration: none;
    padding: 0;
}

.clearfix {
    float: none;
    clear: both;
}

header {
    display: grid;
    justify-content: space-around;
}

body {
    background-color: #dbfff3;
}

main {
    display: flex;
    place-items: center;
    justify-items: center;
    justify-content: center;
}

.titulo {
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 3px 5px rgb(75 77 3 / 53%);
    background-color: #3bedff30;
    color: rgb(3, 3, 3);
}

#navigator {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    margin-top: -19px;
    box-shadow: 2px 3px 4px grey;
    display: grid;
}

#navigator li {
    background-color: rgb(84 135 135 / 64%);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#navigator ul {
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#navigator ul li {
    background-color: aliceblue;
    border: 2px double rgb(97 106 18);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

a {
    color: rgb(145 120 50);
    background-color: white;
    transition-property: color;
    transition-duration: 500ms;
}

a:hover {
    color: rgb(0, 5, 5);
}

.container {
    height: 284px;
    display: grid;
    justify-items: center;
    align-content: center;
}

.info_tema {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 27px;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #425637;
    background-color: black;
    width: fit-content;
    border-radius: 10px;
}

.button_style {
    padding: 15px;
    border-radius: 10px;
    background-color: #201a1a;
    color: white;
    border: 5px double #00ffc4;
}

.button_style:focus {
    cursor: pointer;
}